Pub_C+_176_144.mp4
Pub_C+_352_288_1.mp4
Pub_C+_352_288_2.mp4
Evolution des erreurs en fonction du seuil de détection.png
Evolution_des_couleurs.png
Evolution_des_erreurs_en_fonction_du_seuil_de_détection.png
Evolution_des_erreurs_en_fonction_du_seuil_de_détection_de_noirs_0.png
Evolution_des_erreurs_en_fonction_du_seuil_de_détection_de_noirs_1.png
Evolution_des_erreurs_en_fonction_du_seuil_de_détection_de_noirs_2.png
Evolution_des_erreurs_en_fonction_du_seuil_de_détection_de_noirs_gris.png
Evolution_des_erreurs_en_fonction_du_seuil_de_détection_gris.png
Visualisation du seuil de détection des noirs.png
